proenv1/
myenv/lib/python3.10/site-packages/pandas/tests/strings/__init__.py
myenv/lib/python3.10/site-packages/pandas/tests/strings/conftest.py
myenv/lib/python3.10/site-packages/pandas/tests/strings/test_api.py
myenv/lib/python3.10/site-packages/pandas/tests/strings/test_case_justify.py
myenv/lib/python3.10/site-packages/pandas/tests/strings/test_cat.py
myenv/lib/python3.10/site-packages/pandas/tests/strings/test_extract.py
myenv/lib/python3.10/site-packages/pandas/tests/strings/test_find_replace.py
myenv/lib/python3.10/site-packages/pandas/tests/strings/test_get_dummies.py
myenv/lib/python3.10/site-packages/pandas/tests/strings/test_split_partition.py
myenv/lib/python3.10/site-packages/pandas/tests/strings/test_string_array.py
myenv/lib/python3.10/site-packages/pandas/tests/strings/test_strings.py
myenv/lib/python3.10/site-packages/pandas/tests/strings/__pycache__/__init__.cpython-310.pyc
myenv/lib/python3.10/site-packages/pandas/tests/strings/__pycache__/conftest.cpython-310.pyc
myenv/lib/python3.10/site-packages/pandas/tests/strings/__pycache__/test_api.cpython-310.pyc
myenv/lib/python3.10/site-packages/pandas/tests/strings/__pycache__/test_case_justify.cpython-310.pyc
myenv/lib/python3.10/site-packages/pandas/tests/strings/__pycache__/test_cat.cpython-310.pyc
myenv/lib/python3.10/site-packages/pandas/tests/strings/__pycache__/test_extract.cpython-310.pyc
myenv/lib/python3.10/site-packages/pandas/tests/strings/__pycache__/test_find_replace.cpython-310.pyc
myenv/lib/python3.10/site-packages/pandas/tests/strings/__pycache__/test_get_dummies.cpython-310.pyc
myenv/lib/python3.10/site-packages/pandas/tests/strings/__pycache__/test_split_partition.cpython-310.pyc
myenv/lib/python3.10/site-packages/pandas/tests/strings/__pycache__/test_string_array.cpython-310.pyc
myenv/lib/python3.10/site-packages/pandas/tests/strings/__pycache__/test_strings.cpython-310.pyc
