.leaf{
    width:100px; 
    height:  40px;
    border-radius: 0 100%;
    text-align: center;
    background-image: linear-gradient(to right, rgb(21, 241, 100), rgb(122, 46, 112));
}
.logo-container {
    display: flex;
    align-items: center;
  }
  
.card-img-top {
    height: 300px;
    width: 200px;
    object-fit: cover; 
    
  }
  
th {
    background-color: #f0f0f0;
  }
  
  

   